.s-home
{
  height: 100%;
}
.s-home-message
{
  strong
  {
    color: var(--color-signature);
    text-shadow: 0 var(--text-shadow-offset-y) var(--text-shadow-spread) var(--color-signature-text-shadow);
  }
}
.s-home-message-link
{
  --home-message-link-transition-delay: 0.5s;
  --home-message-link-transition-function: ease-in-out;

  color: inherit;
  cursor: default;
  text-decoration: inherit;
  transition: color var(--home-message-link-transition-delay) var(--home-message-link-transition-function),
              text-shadow var(--home-message-link-transition-delay) var(--home-message-link-transition-function);
}
.s-home-message-link.is-enabled
{
  color: var(--color-accent);
  cursor: pointer;
  text-shadow: 0 var(--text-shadow-offset-y) var(--text-shadow-spread) var(--color-accent-text-shadow);
}
.s-home-message-link.is-enabled:hover
{
  color: var(--color-accent-hover);
}

@include tablet-portrait-and-up
{
  .s-home
  {
  }
}
@include desktop
{
  .s-home
  {
  }
}
