////////////////////////////////////////////////////////////
// MOBILE
////////////////////////////////////////////////////////////

.s-home
{
  padding: 8vw;
}
.s-home-message
{
  a
  {
    color: $color-blue;
    font-weight: bold;
    text-decoration: none;

    &[data-type="email"]::before
    {
      content: "✉\00A0";
    }

    &[data-type="download"]::before
    {
      content: "📥\00A0";
    }
  }
  strong
  {
    color: $color-base2;
  }
}

////////////////////////////////////////////////////////////
// TABLET
////////////////////////////////////////////////////////////

@include tablet-portrait-and-up
{
  .s-home
  {
  }
}

////////////////////////////////////////////////////////////
// DESKTOP
////////////////////////////////////////////////////////////

@include desktop
{
  .s-home
  {
  }
}
