:root
{
  color: var(--color-text);
  font-family: Inconsolata, monospace;
  font-size: 5vw;
  text-shadow: 0 var(--text-shadow-offset-y) var(--text-shadow-spread) var(--color-text-shadow);
}
html
{
  height: 100%;
  max-height: 100%;
}
html.no-scroll
{
  overflow: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
body
{
  height: 100%;
  overflow: hidden;
}

@include mobile-landscape-and-up
{
  :root
  {
    font-size: 5vh;
  }
}
@include tablet-portrait-and-up
{
  :root
  {
    font-size: 2vw;
  }
}
@include tablet-landscape-and-up
{
  :root
  {
    font-size: 2vh;
  }
}
@include desktop
{
  :root
  {
    font-size: 22px;
  }
}
