///////////////////////////////////////////////////////////////////
// Device: Mobile
///////////////////////////////////////////////////////////////////

@include mobile-portrait-and-up
{
  html, body
  {
    background-color: darken($color-base03, 8%);
    color: $color-base0;
    font-family: Inconsolata, monospace;
    font-size: 5vw;
  }
  html.no-scroll
  {
    overflow: hidden;
    position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
  }
  body
  {
    overflow-x: hidden;
  }
}
@include mobile-landscape-and-up
{
  html, body
  {
    font-size: 5vh;
  }
}

///////////////////////////////////////////////////////////////////
// Device: Tablet
///////////////////////////////////////////////////////////////////

@include tablet-portrait-and-up
{
  html, body
  {
    font-size: 2vw;
  }
}
@include tablet-landscape-and-up
{
  html, body
  {
    font-size: 2vh;
  }
}

///////////////////////////////////////////////////////////////////
// Device: Desktop
///////////////////////////////////////////////////////////////////

@include desktop
{
  html, body
  {
    font-size: 20px;
  }
}
