/* NOTE: this file should be used to define styles for basic layout elements (i.e. containers)
 *
 * The header, footer and navigation bar are NOT basic layout elements.
 * For complex elements, use the src/sass/components/ directory instead.
 */
#app
{
  height: 100%;
}
.l-crt
{
  background: linear-gradient(to bottom, var(--color-background-1) 50%, var(--color-background-2) 50%);
  background-size: 100% 6px;
  height: 100%;
  overflow: hidden;
  position: relative;
    z-index: 1;

  // Noise
  &::before
  {
    animation: noise 8s steps(10) infinite;
    background: url("../assets/images/textures/noise.png") transparent;
    content: "";
    display: block;
    mix-blend-mode: overlay;
    opacity: 0.5;
    position: absolute;
      top: -200%;
      left: -200%;
      right: -200%;
      bottom: -200%;
  }

  // Scanline
  &::after
  {
    content: "";
    display: block;
    width: 100%;
    height: 80px;
    opacity: 0.1;
    animation: scanline 10s linear infinite;
    background: linear-gradient(0deg, transparent 0%, var(--color-scanline) 50%, transparent 100%);
    mix-blend-mode: overlay;
    position: absolute;
      bottom: 100%;
  }
}
.l-crt-container
{
  height: 100%;
  overflow: hidden auto;
  position: relative;
    z-index: 2;

  // Inner shadow
  &::before
  {
    background: radial-gradient(ellipse, transparent, #000B);
    content: "";
    display: block;
    pointer-events: none;
    height: 100%;
    width: 100%;
    position: fixed;
      left: 0;
      top: 0;
  }
}
.l-crt-content
{
  padding: 15vw 10vw;
  position: relative;
    z-index: 3;
}

@include desktop
{
  .l-crt-content
  {
    padding: 15vw 20vw 5vw;
  }
}
