<section class="dev">
  <header class="dev-banner">
    <div class="dev-banner-message">
      <span class="dev-banner-message-emoji">⚠</span>️Development mode enabled
    </div>
    <button class="dev-banner-close" type="button">❌</button>
  </header>
  <footer class="dev-footer">
    <span class="dev-footer-variable">
      <strong class="dev-footer-variable-name">Environment: </strong><!-- @echo ENV -->
    </span>
    <span class="dev-footer-separator"> | </span>
    <span class="dev-footer-variable">
      <strong class="dev-footer-variable-name">Mode: </strong><!-- @echo MODE -->
    </span>
    <span class="dev-footer-separator"> | </span>
    <span class="dev-footer-variable">
      <strong class="dev-footer-variable-name">Breakpoint: </strong><span class="dev-footer-breakpoint"></span>
    </span>
  </footer>
</section>
